- title "Usuarios"

.grid_24
  %table
    %tr
      %th Username
      
    - for user in @users
      %tr
        %td= link_to user.username, user

.clear

.grid_12
  %nav#paginate
    = will_paginate
.grid_12
  %nav#actions
    %ul
      %li= link_to "Nuevo usuario", new_user_path
.clear
