- title "HOME"
 
.grid_24
  %h2 Funcionando
  %ul
    %li CRUD usuarios
    %li autenticación de usuarios (devise)
    %li CRUD workstations
    %li ping
  %h2 Siguientes pasos
  %ul
    %li Mejorar los estilos => trabajando en ellooooouuuu
    %li ping por ajax, la lista de workstations es muy lenta. Si no se puede, ping en show en lugar de list
    %li tabla de ubicaciones
    %li asociar ubicaciones <-> workstations
    %li rosetas/rack (aún no sé cómo)
    %li listado de rosetas/ubicaciones
    %li tabla personas => no lo mismo que usuarios
    %li asociar workstations con personas
    %li comprobar backups realizados? => era la idea original!!
.clear
