- title "HOME"
 
.grid_24
  %h2 Funcionando
  %ul
    %li CRUD usuarios
    %li autenticación de usuarios (devise)
    %li CRUD workstations
    %li ping
    %li estilos aplicados, bastante mejorables. por ahora sirve.
    %li ping en show
  %h2 Siguientes pasos
  %ul
    %li completar datos de equipos
    %li evitar autodestrucción de usuarios
    %li roles de usuarios (administrador...)
    %li ping por ajax, en index
    %li tabla de ubicaciones
    %li asociar ubicaciones <-> workstations
    %li rosetas/rack (aún no sé cómo)
    %li listado de rosetas/ubicaciones
    %li tabla personas => no es lo mismo que usuarios
    %li asociar workstations con personas
    %li comprobar backups realizados? => era la idea original!!
.clear
